# Misc
._*
.~lock.*
.DS_Store
*.un~

# IDEs
nbproject
.buildpath
.idea
.project
.settings
*.iml

# Build artifacts
vendor
reports
node_modules
coverage.clover
ocular.phar

# Local configuration
local.php
*.local.php
data/cache/*.php
