<VirtualHost *:80>
	ServerName hrphp.localhost
	DocumentRoot /path/to/hrphp-portal/public
	SetEnv APPLICATION_ENV "development"
	<Directory /path/to/hrphp-portal/public>
		DirectoryIndex index.php
		AllowOverride All
		Order allow,deny
		Allow from all
	</Directory>
</VirtualHost>