@import url("http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Roboto:300,700");

body {
    background: #4F5B93;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
}

body strong {
    font-weight: 700;
}

h1, h2, h3 {
    font-family: Arvo, sans-serif;
}

.brand {
    font-weight: 700;
    font-style: italic;
}

.brand .hrphp-logo-alt {
    color: #8892BF;
}

div.container a.brand {
    margin-left: 0;
    padding: 15px 0 0;
}

.navbar {
    background: transparent;
    border: none;
}

.container .jumbotron {
    background: transparent;
    padding: 10px 0 15px;
}

.container .jumbotron h1 {
    color: #fff;
    background: rgba(255, 255, 255, .1);
    border-radius: 16px;
    display: inline-block;
    font-size: 128px;
    padding: 50px 75px;
    text-shadow: 7px 8px 0px rgba(0, 0, 0, 0.15)
}

.container .lead {
    font-size: 36px;
    padding: 15px 100px 50px;
}

.btn-default {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 16px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 10px 0 0;
    padding: 25px;
    text-shadow: none;
    text-transform: uppercase;
    width: 30%;
}

footer {
    color: #8892BF;
    padding: 50px 0 0;
}
