@import url("http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic");

body {
    border-top: 10px solid #8892BF;
    /* background: url("../img/computer.jpg") 72% 50%; */
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, ellipse farthest-corner, #8892BF 0%, #35394A 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, ellipse farthest-corner, #8892BF 0%, #35394A 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, ellipse farthest-corner, #8892BF 0%, #35394A 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #8892BF), color-stop(1, #35394A));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #8892BF 0%, #35394A 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-corner at center, #8892BF 0%, #35394A 100%);
    
    color: #fff;
    font-family: Arvo, sans-serif;
    font-weight: 400;
    padding-bottom: 40px;
    text-align: center;
}

body strong {
    font-weight: 700;
}

.brand {
    font-weight: 700;
    font-style: italic;
}

.brand .hrphp-logo-alt {
    color: #8892BF;
}

.container a.brand {
    margin-left: 0;
    padding: 15px 0 0;
}

.container {
    padding: 0;
    width: 100%;
}

.navbar {
    background: transparent;
    border: none;
}

.container .jumbotron {
    border: 0;
    margin: 0;
    padding: 60px 0 0;
    width: 100%;
}

.container .jumbotron h1 {
    color: #fff;
    display: inline-block;
    font-size: 128px;
    padding: 50px 75px;
    text-shadow: 7px 8px 0px rgba(0, 0, 0, 0.15)
}

.container .lead {
    font-size: 24px;
    padding: 25px 350px 25px;
}

.btn-default {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 64px;
    color: #fff;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    margin: 0 10px 0 0;
    padding: 25px;
    text-shadow: none;
    width: 20%;
}

.btn-default:hover {
    color: #8892BF;
}

footer {
    color: rgba(255, 255, 255, .3);
    font-weight: 400;
    padding: 50px 0 0;
}
